<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="template"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>users</title>
</head>
<body>
<main layout:fragment="content">
<table class="table">
        <tr><th>ID</th><th>FirstName</th><th>LastName</th><th>Email</th></tr>
        <tr th:each="u:${users}">
            
            <td  th:text="${u.Id}"></td>
            <td  th:text="${u.firstName}"></td>
            <td  th:text="${u.lastName}"></td>
            <td th:text="${u.email}"></td>



        </tr>
    </table>
    
     <a class="nav-link" href="/addUser">Login</a>


</main>

</body>
</html>

